/* 일본 페이지 배경 */
.japan-background {
    background-image: url('../images/paper.jpg');
    background-size: cover;
    background-position: center;
}

/* 한국 페이지 배경 */
.korea-background {
    background-image: url('');
    background-size: cover;
    background-position: center;
}

/* 오사카 페이지 배경 */
.osaka-background {
    background-image: url('../images/paper.jpg');
    background-size: cover;
    background-position: center;
}