.popup-link {
    color: #808080;
    text-decoration: none;
}

.popup-link:hover {
    color: #ff6600; /* 호버 시 색상 변경 */
    text-decoration: none; /* 호버 시 밑줄 추가 */
    font-weight: bold; /* 텍스트를 좀 더 두껍게 */
}

/* 팝업 모달 스타일 */
.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* 배경의 불투명도 증가 */
}

/* 모달 콘텐츠 스타일 */
.modal-content {
    background-color: #ffffff;
    margin: 10% auto; /* 화면 중앙에 위치 */
    padding: 40px;
    border-radius: 12px; /* 모서리 둥글게 */
    max-width: 90%;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    animation: fadeIn 0.3s ease-in-out; /* 모달 등장 애니메이션 */
}

/* 모달 제목과 본문 구분 */
.modal-title {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #007bff; /* 제목 아래 세련된 구분선 */
    font-size: 1.8rem;
    color: #343a40;
    text-align: center; /* 제목 중앙 정렬 */
}

.modal-body {
    margin-top: 10px;
    font-size: 1.5;
    font-weight: bold;
    color: #403f3f;
    line-height: 1.6;
}

/* 닫기 버튼 스타일 */
.close {
    color: #555;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

/* 모달 등장 애니메이션 */
@keyframes popupFadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 768px) {
    .modal-content {
        width: 80%;
        padding: 35px;
    }

    .modal-title {
        font-size: 1.5rem;
    }

    .modal-body {
        font-size: 1.2rem;
    }

    .close {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .modal-content {
        width: 70%;
        padding: 20px;
    }

    .modal-title {
        font-size: 1.3rem;
    }

    .modal-body {
        font-size: 1rem;
    }

    .close {
        font-size: 18px;
    }
}
